<div ng-controller="homeController">

<div class="row menu-items" ng-show="isValidUser">
    <div class="col-sm-1 col-md-1 col-lg-1 {{action==='buy'?'selected':''}}">
        <button class="btn" ng-click="action='buy'">Buy</button>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 {{action==='sell'?'selected':''}}">
        <button class="btn" ng-click="action='sell'">Sell</button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 {{action==='myAccount'?'selected':''}}">
        <button class="btn" ng-click="action='myAccount'">My Account</button>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 text-right">
        Welcome {{username}}!
        <button class="btn btn-sm btn-secondary" ng-click="logOut()">Log out</button>
    </div>
</div>

<div ng-show="isValidUser && action==='buy'">
      <div class="spinner-border" role="status" ng-hide="productsLoaded">
        <span class="sr-only">Loading...</span>
      </div>
      <div ng-show="productsLoaded" ng-repeat="prod in productsUnsold" class="card">
        <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-block">
            <h3 class="card-title">{{prod.title}}</h3>
            <h5 class="card-subtitle">{{prod.price}}/-</h5>
            <i class="card-text">{{prod.category}}</i><br>
            <span class="card-text">{{prod.description}}</span><br>
            <span class="card-text" ng-if="prod.publishDate">Available from {{prod.publishDate}}, </span>
            <span class="card-text" ng-if="prod.expiryDate">Expires on {{prod.expiryDate}}</span><br><br>
            <button class="btn btn-primary" ng-click="buyProduct(prod.id)">Buy</button>
          </div>
         </div>
         <div class="col-sm-6 col-md-6 col-lg-6">
            <img ng-repeat="image in prod.images" src="{{image}}" class="card-img-bottom">
         </div>
        </div> 
        
      </div>
</div>

<div ng-show="isValidUser && action==='sell'">
<form ng-submit="addProduct()" name="addProductForm">
  <h3>Give product details</h3>

  <input type="text" ng-model="title" class="form-control" id="title" placeholder="Title" required>
  <input type="text" ng-model="description" class="form-control" id="description" placeholder="Description">
  <input type="text" ng-model="price" class="form-control" id="price" placeholder="Price">
  <input type="text" ng-model="category" class="form-control" id="category" placeholder="Category">
  <input type="text" ng-model="expiryDate" class="form-control" id="expiryDate" placeholder="Expiry Date">
  <input type="text" ng-model="images" class="form-control" id="images" placeholder="Image files (comma separated)">

  <button type="submit" class="btn btn-primary" ng-disabled="!addProductForm.$valid">Submit</button>
</form>
</div>

<div ng-show="isValidUser && action==='myAccount'">
    <h3 ng-show="unsoldHistory.length">Your Unsold Products:</h3>
    <div ng-repeat="prod in unsoldHistory" class="card">
        <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-block">
            <h3 class="card-title">{{prod.title}}</h3>
            <h5 class="card-subtitle">{{prod.price}}/-</h5>
            <i class="card-text">{{prod.category}}</i><br>
            <span class="card-text">{{prod.description}}</span><br>
            <span class="card-text" ng-if="prod.publishDate">Available from {{prod.publishDate}}, </span>
            <span class="card-text" ng-if="prod.expiryDate">Expires on {{prod.expiryDate}}</span><br><br>
            <button class="btn btn-primary" ng-click="markAsSold(prod.id)">Mark As Sold</button>
          </div>
         </div>
         <div class="col-sm-6 col-md-6 col-lg-6">
            <img ng-repeat="image in prod.images" src="{{image}}" class="card-img-bottom">
         </div>
        </div> 
        
      </div>

    <h3 ng-show="soldHistory.length">Your Sold Products:</h3>
    <div ng-repeat="prod in soldHistory" class="card">
        <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-block">
            <h3 class="card-title">{{prod.title}}</h3>
            <h5 class="card-subtitle">{{prod.price}}/-</h5>
            <i class="card-text">{{prod.category}}</i><br>
            <span class="card-text">{{prod.description}}</span><br>
            <span class="card-text" ng-if="prod.publishDate">Available from {{prod.publishDate}}, </span>
            <span class="card-text" ng-if="prod.expiryDate">Expires on {{prod.expiryDate}}</span><br><br>
          </div>
         </div>
         <div class="col-sm-6 col-md-6 col-lg-6">
            <img ng-repeat="image in prod.images" src="{{image}}" class="card-img-bottom">
         </div>
        </div> 
        
      </div>

    <h3 ng-show="wishlist.length">Purchase History:</h3>
    <div ng-repeat="prod in wishlist" class="card">
        <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card-block">
            <h3 class="card-title">{{prod.title}}</h3>
            <h5 class="card-subtitle">{{prod.price}}/-</h5>
            <i class="card-text">{{prod.category}}</i><br>
            <span class="card-text">{{prod.description}}</span><br>
            <span class="card-text" ng-if="prod.publishDate">Available from {{prod.publishDate}}, </span>
            <span class="card-text" ng-if="prod.expiryDate">Expires on {{prod.expiryDate}}</span><br><br>
          </div>
         </div>
         <div class="col-sm-6 col-md-6 col-lg-6">
            <img ng-repeat="image in prod.images" src="{{image}}" class="card-img-bottom">
         </div>
        </div> 
        
      </div>
</div>

<form ng-submit="logIn()" ng-hide="isValidUser" id="logInForm">
 <div class="row">
  <div class="col">
    <input type="text" ng-model="username" class="form-control" id="logInUsername" placeholder="Username" aria-describedby="usernameHelp">
  </div>
  <div class="col">
    <input type="password" ng-model="password" class="form-control" id="logInPassword" placeholder="Password">
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
 </div>
</form>

<form ng-submit="signUp()" ng-hide="isValidUser" name="signUpForm">
  <hr>
  <h3>Create new account</h3>

  <input type="text" ng-model="signUpName" class="form-control" id="signUpName" placeholder="Name" required>
  <input type="email" ng-model="signUpEmail" class="form-control" id="signUpEmail" placeholder="E-mail">
  <input type="text" ng-model="signUpPhone" class="form-control" id="signUpPhone" placeholder="Phone">
  <input type="text" ng-model="signUpAddress" class="form-control" id="signUpAddress" placeholder="Address">
  <input type="text" ng-model="signUpUsername" class="form-control" id="signUpUsername" placeholder="Username" required>
  <input type="password" ng-model="signUpPassword" class="form-control" id="signUpPassword" placeholder="Choose Password" required>
  <input type="password" ng-model="signUpPasswordCnf" class="form-control" id="signUpPasswordCnf" placeholder="Confirm Password">

  <button type="submit" class="btn btn-primary" ng-disabled="signUpPassword!=signUpPasswordCnf || !signUpForm.$valid">Sign up</button>
</form>
