img {
    max-width: 200px;
    height: auto;
}

.card {
    width: 80%;
    margin: 0 auto 10px auto;
    background-color: black;
    color: white;
}

.card-block {
    padding-left: 10px;
}

.menu-items {
    margin-bottom: 10px;
    max-width: 100%;
}

.selected {
    background-color: black;
}

.btn:hover {
    color: none;
}

.selected button {
    color: white !important;
}

.btn:focus {
    box-shadow: none;
}

body {
    background-color: lightgray;
}

form {
    width: 80%;
    margin: 20px auto 20px auto;
}

form input {
    margin-bottom: 10px;
}

header {
    text-align:center; 
    font-size:30px; 
    color:white; 
    background-color:purple; 
    margin-bottom:20px;
}
